@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Poppins&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    
}
.container{
    width: 100%;
    height: auto;
    
    
}


.top{
    height: 700px;
    width: 100%;
    background-image: url(images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    padding-bottom: 50px; */
    display: flex;
    flex-direction: column;
}

nav{
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
nav ul li{
    margin: 0px 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

a.decorate{
    position: relative;
    text-decoration: none;
    color: #fff;
}
a.decorate::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
    transition: width 0.3s;
}
a.decorate:hover::after{
    width: 50%;
}
a .decorate{
    text-transform: capitalize;
}

nav .menu-btn i{
    display: none;
}
#click{
    display: none;
}






.describe{
    width: 100%;
    height: 100%;
    /* background: green; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 120px;
}

.description{
    height: auto;
    width: 680px;
    border: 2px solid white;
    padding: 25px;
}
.Immersive{
    color: white;
    font-size: 80px;
}

.middle{
    /* background: powderblue; */
    padding: 120px 150px;
    display: flex;
    width: 100%;
    height: 740px;
}
.right{
    width: 60%;
    height: 100%;
    /* background: green; */
}
.left{
    width: 40%;
    height: 100%;
    /* background: brown; */
    display: flex;
    align-items: flex-end;
    position: relative;
}
.middletext{
    background: white;
    position: absolute;
    left: -30%;
    height: 60%;
    width: 130%;
    padding-bottom: 5px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
    /* padding-right: 30px; */
}
.middletexthead{
    font-size: 60px;
    line-height: 55px;
    padding-bottom: 30px;
}
.middletextbody{
    font-size: 20px;
    font-weight: 400;
}

.middle1{
    width: 100%;
    height: 1300px;
    /* background-color: pink; */
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
}
.top1{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
    align-items: center;
}

.creations{
    font-size: 40px;
}
.more{
    width: 160px;
    background: transparent;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.more1{
    width: 160px;
    background: transparent;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: none

}
.bottom{
    display: flex;
    flex-direction: column;
    height: 89%;
    width: 100%;
    background: white;
    justify-content: space-between;
}
.firstrow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48%;
    /* background-color: green; */
}
.secondrow{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}
.grid{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.grid1{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid2{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid3{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid4{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid5{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid6{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid7{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 23%;
    position: relative;
    background-image: url(images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.fadebackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: flex-end;
    padding: 30px;
    font-size: 35px;
    color: white;
}

.finalleft{
    width: 50%;
    height: 100%;
}
footer{
    width: 100%;
    height: 150px;
    background: black;
    padding: 30px 120px;
    display: flex;
}


nav1{
    height: 100%;
    width: 100%;
    /* background: #222; */
    display: flex;
    flex-direction: column;
    align-items: ;
    justify-content: space-between;
    
}

nav1 .menu1{
    margin: 0px 10px;
    display: flex;

}
nav1 .menu1 li{
    padding-right: 30px;
    list-style-type: none;
    font-size: 20px;
}
.logo1 li{
    list-style-type: none;
}
.logoImage1{
    width: 160px;
}

.finalright{
    width: 50%;
    height: 100%;
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: none;
}

.finalrighttop{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.finalrightbottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

nav2{
    height: 100%;
    width: 100%;
    /* background: #222; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

nav2 .menu2{
    margin: 0px 10px;
    display: flex;

}
nav2 .menu2 li{
    padding-left: 20px;
}




@media (max-width: 940px){
    .top{
        height: 700px;
        width: 100%;
        background-image: url(images/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-left: 140px;
        padding-right: 140px;
        padding-top: 50px;
        padding-bottom: 50px; */
        display: flex;
        flex-direction: column;
    }


    

    nav {
        background: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px; /* Adjust the padding as needed */
        position: fixed;
        width: 100%;
        z-index: 1000; /* Ensure the navigation bar appears on top */
    }
    
    
    /* .logoImage{
        width: 160px
    } */
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: black;
        height: 100vh;
        width: 100%;
        display: block;
        padding-left: 30px;
        padding-top: 100px;
        transition: all 0.3s ease;
        
    }

    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ nav {
        background: black;
    }

    nav ul li{
        margin: 30px 0;
        
    }
    .item a.decorate {
        text-transform: uppercase;
    }

    nav ul li a{
        font-size: 25px;
        letter-spacing: 2px;
    }

    nav .menu-btn i{
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        display: block;
        
    }

    .describe{
        width: 100%;
        height: 100%;
        /* background: green; */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }
    
    .description{
        height: auto;
        /* background: blue; */
        width: 90%;
        border: 2px solid white;
        padding: 25px;
    }
    .Immersive{
        color: white;
        font-size: 45px;
    }



    .middle{
        /* background: powderblue; */
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 550px;
    }
    .right{
        width: 100%;
        height: 50%;
        /* background: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .interactive{
        height: 200px;
        width: 351px;
    }
    .left{
        width: 100%;
        height: 50%;
        /* background: brown; */
        display: flex;
        align-items: center;
        position: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .middletext{
        background: white;
        position: none;
        height: 100%;
        width: 100%;
        padding-bottom: 0;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        /* padding-right: 30px; */
    }
    .middletexthead{
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
        text-align: center;
    }
    .middletextbody{
        font-size: 17px;
        font-weight: 400;
        text-align: center;
    }



    .middle1{
        width: 100%;
        height: 1700px;
        /* background-color: pink; */
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }
    .top1{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        /* background-color: cyan; */
        align-items: center;
    }
    
    .creations{
        font-size: 40px;
    }
    .more{
        width: 160px;
        background: transparent;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        display: none;
    
    }
    .morediv{
        height: 6%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .more1{
        width: 160px;
        background: transparent;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        display: block;
    
    }
    .bottom{
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        background: white;
        justify-content: space-between;
    }
    .firstrow{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 48%;
        /* background-color: green; */
    }
    .secondrow{
        width: 100%;
        height: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .grid{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-deep-earth.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .grid1{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-night-arcade.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid2{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-soccer-team.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid3{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-grid.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid4{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-from-above.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid5{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-pocket-borealis.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid6{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-curiosity.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .grid7{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
        width: 100%;
        height: 23%;
        position: relative;
        background-image: url(images/mobile/image-fisheye.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    
    
    .fadebackground{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
        display: flex;
        align-items: flex-end;
        padding: 30px;
        padding-right: 90px;
        font-size: 35px;
        color: white;
    }







    .finalleft{
        width: 100%;
        height: 80%;
        /* background: green; */
        
    }
    footer{
        width: 100%;
        height: 500px;
        background: black;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    nav1{
        height: 100%;
        width: 100%;
        /* background: #222; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: blue; */
        
    }
    .logo1{
        height: 20%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav1 .menu1{
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
        justify-content: space-around;
        
        
    
    }
    nav1 .menu1 li{
        padding-right: 30px;
        list-style-type: none;
        font-size: 20px;
        
    }
    .logo1 li{
        list-style-type: none;
    }
    .logoImage1{
        width: 160px;
        margin-right: auto;
    }
    
    .finalright{
        width: 100%;
        height: 20%;
        /* background: white; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }
    
    .finalrighttop{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .finalrightbottom{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        color: white;
        /* background-color: red; */
    }
    
    nav2{
        height: 100%;
        width: 100%;
        /* background: #222; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    nav2 .menu2{
        margin: 0px 10px;
        display: flex;
        /* background: yellow; */
        list-style-type: none;
    
    }
    nav2 .menu2 li{
        padding-left: 20px;
    }
    


    



    /* .bars{
        background: white;
        display: inline-block;
        height: 2px;
        width: 28px;
        position: relative;
    }
    
    .bars::before,.bars::after{
        background: white;
        content: "";
        display: inline-block;
        height: 2px;
        width: 28px;
        position: absolute;
    }
    
    .bars::before{
        top: 8px;
    }
    
    .bars::after{
        top: -8px;
    } */
    

}
